# Custom to this project
*.mid

# This .gitignore caters for Docker, SSH, Terraform, Linux/macOS/Windows
# operating systems and Node.js/PHP/Python programming languages.
# Files specific to IDEs and editors should not be committed to repository.

# Directories
**/.terraform/*
.idea/
.venv/
.vscode/
__pycache__/
# dist/ # used for this project, hence commented out
node_modules/
tmp/
vendor/

# Wildcard files
# Files with :Zone.Identifier suffix due to copying files from Windows to Linux.
*.http
*.id_ed25519
*.id_rsa
*.key
*.local.php
*.log
*.pem
*.ppk
*.pub
*.pyc
*.tar
*.tar.gz
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tgz
*.tmp
*.zip
*_override.tf
*_override.tf.json
*Zone.Identifier
tmp.*

# Hidden files
.DS_Store
.env
.npmrc
.terraformrc

# Normal files
# See https://github.com/zionsg/getmail/blob/master/scripts/version.sh on VERSION.txt.
Thumbs.db
VERSION.txt
desktop.ini
docker-compose.override.yml
local.php
override.tf
override.tf.json
