# Custom to this project
*.mid

# This .gitignore caters for Docker, SSH, Terraform, Linux/macOS/Windows
# operating systems and Node.js/PHP/Python programming languages.

# Directories
**/.terraform/*
.idea/
.vscode/
__pycache__/
dist/
node_modules/
tmp/
vendor/
venv/

# Wildcard files
# Files ending with :Zone.Identifier due to copying files from Windows to Linux
*.id_ed25519
*.id_rsa
*.key
*.local.php
*.log
*.pem
*.ppk
*.pub
*.pyc
*.tar
*.tar.gz
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tgz
*.tmp
*.zip
*_override.tf
*_override.tf.json
*Zone.Identifier
tmp.*

# Hidden files
.DS_Store
.env
.npmrc
.terraformrc
.venv

# Files
Thumbs.db
VERSION.txt
desktop.ini
docker-compose.override.yml
local.php
override.tf
override.tf.json
