html,
body {
  /*
  On why the English fonts are before the Chinese fonts, see:
  http://kendraschaefer.com/2012/06/chinese-standard-web-fonts-the-ultimate-guide-to-css-font-family-declarations-for-web-design-in-simplified-chinese
  */
  background-color: lightyellow;
  font-family: Helvetica, Arial, SimHei, "黑体", sans-serif;
  font-size: 16px;
}

footer {
  font-style: italic;
  margin-top: 1em;
  text-align: right;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #ccc;
  padding: 5px;
  vertical-align: top;
}
th {
  background: #ddd;
}
td:not(:first-child) {
  text-align: center;
}

a {
  color: #0000ff;
  text-decoration: none;
}
a:hover {
  color: #ff00ff;
  text-decoration: underline;
}
a[id] {
  color: black;
  text-decoration: none;
}
a[id]:hover {
  color: black;
  text-decoration: none;
}
